In [ ]:
'''


Mini Project: Pizza Sales Analysis with SQL


Problem Statement: 

This SQL project involves analyzing a pizza sales dataset to gain insights about sales patterns, order distributions, and revenue. The dataset contains details about customer orders, pizzas, their categories, and prices. Students will be required to write SQL queries to extract and analyze data based on a series of progressively challenging questions.


Dataset Link: https://drive.google.com/file /d/lwfqpxZyATIZTZFnG_W WEXUBl9BIa08GD/view?us p=sharing


Guidelines for Students:

1. Data Understanding:
○ Understand the structure of the dataset by inspecting the tables and their relationships.
○ Familiarize yourself with the schema, particularly the pizza categories, order details, and sales records.


2. Data Exploration:
○ Analyze the dataset by writing queries to retrieve basic information such as the total number of orders, revenue, and frequently ordered items.


3. Advanced Analysis:
○ Perform more complex queries involving joins and groupings to calculate metrics like revenue distribution, pizza category sales, and cumulative sales over time.


4. Optimization and Interpretation:
○ Ensure that your queries are optimized for performance (e.g., using GROUP BY, JOIN operations, and HAVING clauses).
○ Interpret the results of each query to understand trends and patterns.


'''

In [2]:
import pymysql
import pandas as pd 


    # Database credentials
conn = pymysql.connect(
    host= 'localhost',  # Or your MySQL host IP/hostname
    user='root',
    password = 'Sanket@852003',
    database= 'pizza'
)
    
df = pd.read_sql('select * from orders', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_4328\1771143455.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from orders', conn)

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

In [5]:
df = pd.read_sql('select * from order_details', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_3408\939989050.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from order_details', conn)

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [6]:
df = pd.read_sql('select * from pizza_types', conn)
print(df)

   pizza_type_id                                        name category  \
0        bbq_ckn                  The Barbecue Chicken Pizza  Chicken
1       cali_ckn                The California Chicken Pizza  Chicken
2    ckn_alfredo                   The Chicken Alfredo Pizza  Chicken
3      ckn_pesto                     The Chicken Pesto Pizza  Chicken
4     southw_ckn                 The Southwest Chicken Pizza  Chicken
5       thai_ckn                      The Thai Chicken Pizza  Chicken
6       big_meat                          The Big Meat Pizza  Classic
7    classic_dlx                    The Classic Deluxe Pizza  Classic
8       hawaiian                          The Hawaiian Pizza  Classic
9    ital_cpcllo                 The Italian Capocollo Pizza  Classic
10    napolitana                        The Napolitana Pizza  Classic
11   pep_msh_pep  The Pepperoni, Mushroom, and Peppers Pizza  Classic
12     pepperoni                         The Pepperoni Pizza  Classic
13     the_greek                             The Greek Pizza  Classic
14    brie_carre                        The Brie Carre Pizza  Supreme
15     calabrese                         The Calabrese Pizza  Supreme
16     ital_supr                   The Italian Supreme Pizza  Supreme
17  peppr_salami                     The Pepper Salami Pizza  Supreme
18    prsc_argla            The Prosciutto and Arugula Pizza  Supreme
19      sicilian                          The Sicilian Pizza  Supreme
20   soppressata                       The Soppressata Pizza  Supreme
21    spicy_ital                     The Spicy Italian Pizza  Supreme
22  spinach_supr                   The Spinach Supreme Pizza  Supreme
23   five_cheese                       The Five Cheese Pizza   Veggie
24   four_cheese                       The Four Cheese Pizza   Veggie
25  green_garden                      The Green Garden Pizza   Veggie
26   ital_veggie                The Italian Vegetables Pizza   Veggie
27  mediterraneo                     The Mediterranean Pizza   Veggie
28      mexicana                          The Mexicana Pizza   Veggie
29    spin_pesto                     The Spinach Pesto Pizza   Veggie
30   spinach_fet                  The Spinach and Feta Pizza   Veggie
31    veggie_veg           The Vegetables + Vegetables Pizza   Veggie

                                          ingredients
0   Barbecued Chicken, Red Peppers, Green Peppers,...
1   Chicken, Artichoke, Spinach, Garlic, Jalapeno ...
2   Chicken, Red Onions, Red Peppers, Mushrooms, A...
3   Chicken, Tomatoes, Red Peppers, Spinach, Garli...
4   Chicken, Tomatoes, Red Peppers, Red Onions, Ja...
5   Chicken, Pineapple, Tomatoes, Red Peppers, Tha...
6   Bacon, Pepperoni, Italian Sausage, Chorizo Sau...
7   Pepperoni, Mushrooms, Red Onions, Red Peppers,...
8            Sliced Ham, Pineapple, Mozzarella Cheese
9   Capocollo, Red Peppers, Tomatoes, Goat Cheese,...
10  Tomatoes, Anchovies, Green Olives, Red Onions,...
11                Pepperoni, Mushrooms, Green Peppers
12                       Mozzarella Cheese, Pepperoni
13  Kalamata Olives, Feta Cheese, Tomatoes, Garlic...
14  Brie Carre Cheese, Prosciutto, Caramelized Oni...
15  ‘Nduja Salami, Pancetta, Tomatoes, Red Onions,...
16  Calabrese Salami, Capocollo, Tomatoes, Red Oni...
17  Genoa Salami, Capocollo, Pepperoni, Tomatoes, ...
18  Prosciutto di San Daniele, Arugula, Mozzarella...
19  Coarse Sicilian Salami, Tomatoes, Green Olives...
20  Soppressata Salami, Fontina Cheese, Mozzarella...
21  Capocollo, Tomatoes, Goat Cheese, Artichokes, ...
22  Spinach, Red Onions, Pepperoni, Tomatoes, Arti...
23  Mozzarella Cheese, Provolone Cheese, Smoked Go...
24  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
25  Spinach, Mushrooms, Tomatoes, Green Olives, Fe...
26  Eggplant, Artichokes, Tomatoes, Zucchini, Red ...
27  Spinach, Artichokes, Kalamata Olives, Sun-drie...
28  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
29  Spinach, Artichokes, Tomatoes, Sun-dried Tomat...
30  Spinach, Mushrooms, Red Onions, Feta Cheese, G...
31  Mushrooms, Tomatoes, Red Peppers, Green Pepper...

C:\Users\Hp\AppData\Local\Temp\ipykernel_3408\2734359703.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from pizza_types', conn)

In [7]:
df = pd.read_sql('select * from pizzas', conn)
print(df)

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

C:\Users\Hp\AppData\Local\Temp\ipykernel_3408\3013992842.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from pizzas', conn)

In [10]:
# 1. Retrieve the total number of orders placed.

df = pd.read_sql('select count(*) "Total no of order placed" from orders ', conn)
print(df)

   Total no of order placed
0                     21350

C:\Users\Hp\AppData\Local\Temp\ipykernel_3408\3235878343.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select count(*) "Total no of order placed" from orders ', conn)

In [20]:
 # 2. Calculate the total revenue generated from pizza sales.
    
df = pd.read_sql(' select round(sum(order_details.quantity* pizzas.price),2) "total revanue" from order_details join pizzas on pizzas.pizza_id = order_details.pizza_id', conn)
print(df)

   total revanue
0      817860.05

C:\Users\Hp\AppData\Local\Temp\ipykernel_3408\240087501.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(' select round(sum(order_details.quantity* pizzas.price),2) "total revanue" from order_details join pizzas on pizzas.pizza_id = order_details.pizza_id', conn)

In [24]:
 # 3. Identify the highest-priced pizza.

   
df = pd.read_sql('select pizzas.price, pizza_types.name from pizzas  join pizza_types  on pizza_types.pizza_type_id = pizzas.pizza_type_id order by pizzas.price desc limit 1', conn)
print(df)

   price             name
0  35.95  The Greek Pizza

C:\Users\Hp\AppData\Local\Temp\ipykernel_3408\3147142426.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select pizzas.price, pizza_types.name from pizzas  join pizza_types  on pizza_types.pizza_type_id = pizzas.pizza_type_id order by pizzas.price desc limit 1', conn)

In [5]:
# 4. Identify the most common pizza size ordered.

df = pd.read_sql('''SELECT order_details.pizza_id as most_common_pizza_size_ordered, COUNT(*) as order_count
FROM order_details
GROUP BY order_details.pizza_id 
ORDER BY order_count DESC
limit 1''', conn)
print(df)

  most_common_pizza_size_ordered  order_count
0                     big_meat_s         1811

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\3668667598.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''SELECT order_details.pizza_id as most_common_pizza_size_ordered, COUNT(*) as order_count

In [7]:
# 5. List the top 5 most ordered pizza types along with their quantities.

df = pd.read_sql('''SELECT order_details.pizza_id as "5 most pizza size ordered", COUNT(*) as quantities
FROM order_details 
GROUP BY order_details.pizza_id 
ORDER BY quantities DESC
limit 5''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\4218742081.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''SELECT order_details.pizza_id as "5 most pizza size ordered", COUNT(*) as quantities

  5 most pizza size ordered  quantities
0                big_meat_s        1811
1                thai_ckn_l        1365
2             five_cheese_l        1359
3             four_cheese_l        1273
4             classic_dlx_m        1159

In [9]:
# 6. Join the necessary tables to find the total quantity of each pizza category ordered.

df = pd.read_sql('''select category   ,sum(quantity)  as "Total quantity of each pizza" from pizzas 
 join pizza_types 
 on pizza_types.pizza_type_id =  pizzas.pizza_type_id 
 join order_details on order_details.pizza_id = pizzas.pizza_id
 group by pizza_types.category''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\10507668.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''select category   ,sum(quantity)  as "Total quantity of each pizza" from pizzas

  category  Total quantity of each pizza
0  Classic                       14888.0
1   Veggie                       11649.0
2  Supreme                       11987.0
3  Chicken                       11050.0

In [11]:
# 7. Determine the distribution of orders by hour of the day.

df = pd.read_sql('''select hour(time), count(order_details.order_id) from orders
join order_details
on orders.order_id= order_details.order_id
group by hour(time)
order by hour(time)''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\3797458313.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''select hour(time), count(order_details.order_id) from orders

    hour(time)  count(order_details.order_id)
0            9                              4
1           10                             17
2           11                           2672
3           12                           6543
4           13                           6203
5           14                           3521
6           15                           3170
7           16                           4185
8           17                           5143
9           18                           5359
10          19                           4350
11          20                           3487
12          21                           2528
13          22                           1370
14          23                             68

In [21]:
# 8. Join relevant tables to find the category-wise distribution of pizzas.

df = pd.read_sql('''SELECT category , count(order_details.order_id) as pizzas
FROM pizzas p
JOIN pizza_types pt 
ON p.pizza_type_id = pt.pizza_type_id
join order_details
on order_details.pizza_id = p.pizza_id
GROUP BY pt.category''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\1276354298.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''SELECT category , count(order_details.order_id) as pizzas

  category  pizzas
0  Classic   14579
1   Veggie   11449
2  Supreme   11777
3  Chicken   10815

In [14]:
# 9. Group the orders by date and calculate the average number of pizzas ordered per day.

df = pd.read_sql('''select orders.date ,  count(distinct orders.order_id) "orders" , sum(quantity) "total quantity" , sum(quantity)/count(distinct order_details.order_id) "average number of pizzas ordered per day."
from orders
join order_details 
on  order_details.order_id = orders.order_id 
group by orders.date''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\3327565697.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''select orders.date ,  count(distinct orders.order_id) "orders" , sum(quantity) "total quantity" , sum(quantity)/count(distinct order_details.order_id) "average number of pizzas ordered per day."

           date  orders  total quantity  \
0    2015-01-01      69           162.0
1    2015-01-02      67           165.0
2    2015-01-03      66           158.0
3    2015-01-04      52           106.0
4    2015-01-05      54           125.0
..          ...     ...             ...
353  2015-12-27      35            89.0
354  2015-12-28      39           102.0
355  2015-12-29      27            80.0
356  2015-12-30      32            82.0
357  2015-12-31      73           178.0

     average number of pizzas ordered per day.
0                                       2.3478
1                                       2.4627
2                                       2.3939
3                                       2.0385
4                                       2.3148
..                                         ...
353                                     2.5429
354                                     2.6154
355                                     2.9630
356                                     2.5625
357                                     2.4384

[358 rows x 4 columns]

In [22]:
# 10. Determine the top 3 most ordered pizza types based on revenue.

df = pd.read_sql('''SELECT pt.name AS pizza_type, SUM(od.quantity * p.price) AS total_revenue
FROM order_details od
JOIN pizzas p 
ON od.pizza_id = p.pizza_id
JOIN pizza_types pt 
ON p.pizza_type_id = pt.pizza_type_id
GROUP BY pt.name
ORDER BY total_revenue DESC
LIMIT 3;''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\4109372246.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''SELECT pt.name AS pizza_type, SUM(od.quantity * p.price) AS total_revenue

                     pizza_type  total_revenue
0        The Thai Chicken Pizza       43434.25
1    The Barbecue Chicken Pizza       42768.00
2  The California Chicken Pizza       41409.50

In [17]:
# 11. Calculate the percentage contribution of each pizza type to total revenue.

df = pd.read_sql('''select 
round(count(*)*100 / sum(quantity*pizzas.price),2) percentage, pizza_types.name from pizza_types
join pizzas on pizza_types.pizza_type_id = pizzas.pizza_type_id
join order_details on  order_details.pizza_id = pizzas.pizza_id
group by pizza_types.name''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\2592986375.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''select

    percentage                                        name
0         7.34                          The Hawaiian Pizza
1         6.33                    The Classic Deluxe Pizza
2         5.21                       The Five Cheese Pizza
3         5.52                   The Italian Supreme Pizza
4         5.44                          The Mexicana Pizza
5         5.33                      The Thai Chicken Pizza
6         5.90            The Prosciutto and Arugula Pizza
7         5.55                  The Barbecue Chicken Pizza
8         4.94                             The Greek Pizza
9         6.15                   The Spinach Supreme Pizza
10        7.07                      The Green Garden Pizza
11        5.63                 The Italian Capocollo Pizza
12        5.42                     The Spicy Italian Pizza
13        6.14                     The Spinach Pesto Pizza
14        6.19           The Vegetables + Vegetables Pizza
15        5.43                 The Southwest Chicken Pizza
16        5.56                The California Chicken Pizza
17        7.85                         The Pepperoni Pizza
18        5.75                     The Chicken Pesto Pizza
19        7.88                          The Big Meat Pizza
20        5.83                       The Soppressata Pizza
21        5.73                       The Four Cheese Pizza
22        6.02                        The Napolitana Pizza
23        5.82                         The Calabrese Pizza
24        6.09                The Italian Vegetables Pizza
25        6.01                     The Mediterranean Pizza
26        5.57                     The Pepper Salami Pizza
27        6.15                  The Spinach and Feta Pizza
28        6.10                          The Sicilian Pizza
29        5.80                   The Chicken Alfredo Pizza
30        7.13  The Pepperoni, Mushroom, and Peppers Pizza
31        4.14                        The Brie Carre Pizza

In [19]:
# 12. Analyze the cumulative revenue generated over time.

df = pd.read_sql('''select hour(time) over_time,sum(quantity*price) revenue from orders
join order_details
on order_details.order_id = orders.order_id
join pizzas on pizzas.pizza_id = order_details.pizza_id
group by over_time
having over_time > 20''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\556575399.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''select hour(time) over_time,sum(quantity*price) revenue from orders

   over_time   revenue
0         21  42029.80
1         22  22815.15
2         23   1121.35

In [20]:
# 13. Determine the top 3 most ordered pizza types based on revenue for each pizza category.

df = pd.read_sql('''SELECT category, name, pizza_revenue FROM (SELECT pt.category, pt.name, 
COALESCE(SUM(od.quantity * p.price), 0) AS pizza_revenue,
ROW_NUMBER() OVER (PARTITION BY pt.category ORDER BY SUM(od.quantity * p.price) DESC) AS rn
FROM pizza_types pt
JOIN pizzas p USING (pizza_type_id)
LEFT JOIN order_details od USING (pizza_id)
GROUP BY pt.category, pt.name) AS ranked_pizzas
WHERE rn <= 3
ORDER BY category, pizza_revenue DESC''', conn)
print(df)

C:\Users\Hp\AppData\Local\Temp\ipykernel_9684\3859298937.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('''SELECT category, name, pizza_revenue FROM (SELECT pt.category, pt.name,

   category                          name  pizza_revenue
0   Chicken        The Thai Chicken Pizza       43434.25
1   Chicken    The Barbecue Chicken Pizza       42768.00
2   Chicken  The California Chicken Pizza       41409.50
3   Classic      The Classic Deluxe Pizza       38180.50
4   Classic            The Hawaiian Pizza       32273.25
5   Classic           The Pepperoni Pizza       30161.75
6   Supreme       The Spicy Italian Pizza       34831.25
7   Supreme     The Italian Supreme Pizza       33476.75
8   Supreme            The Sicilian Pizza       30940.50
9    Veggie         The Four Cheese Pizza       32265.70
10   Veggie            The Mexicana Pizza       26780.75
11   Veggie         The Five Cheese Pizza       26066.50